<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/stylesheet.css" />

</head>
<body>
    <div class="main-content">
        <h1>{{>header}}</h1>
        <img class="landscape" src="/img/stintino.jpg"
    </div>
     
    <p>{{>footer}}</p>
</body>
</html>