<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/stylesheet.css" />

</head>
<body>
    <div class="main-content">
        <h1>{{>header}}</h1>
        <p>
            This site uses mapbox.com and weatherstack.com
            to provide weather forecast.
        </p>
        <img class="landscape" src="/img/stintino.jpg"
    </div>
     
    <p>{{>footer}}</p>
</body>
</html>